# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.ipynb text eol=lf
*.gitignore text eol=lf

# Declare binary files
*.joblib binary
*.png binary
*.jpg binary
